



<h1>Ingrese su producto</h1>

<form [formGroup]="formAddProduct">

    <input formControlName="producto" type="text" placeholder="Licuadora">
    <input formControlName="descripcionProducto" type="text" placeholder="Descripcion producto">
    <input formControlName="precioProducto" type="text" placeholder="$00">
    

    <br><br>

    <button (click)="agregarProducto()" > <p>{{labelAddOrEdit}}</p></button>

</form>




<h3>Lista de productos agregados</h3>


<ol>

    <li *ngFor="let producto of productosArr" > {{ producto.nombre }} , {{ producto.descripcion }} , {{ producto.precio }} <button (click)="eliminarProducto(producto.id)"> Eliminar producto</button> <button (click)="editarProducto(producto.id)"> Editar producto</button></li>




</ol>

